.title {
  text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    align-items: center;
    height: calc(100vh - 75px);
  }  

