.card {
  display: flex;
  gap: 20px;
  width: 900px;
  height: 250px;
  border: 2px solid black;
  background-color: whitesmoke;
  border-radius: 10px;
  margin-top: 30px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  justify-content: center;
  align-items: center;
}

.imageContainer {
  width: 220px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-left: 20px;
}

.image {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  border-radius: 10px;
  border: 1px solid black;
}

.info {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2, p {
  margin: 5px 0;
}

.buttons {
  display: flex;
  gap: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
  background-color: #0056b3;
  box-shadow: 2px 2px 15px rgba(0,0,0,0.2);
}

button:active {
  background-color: #004085; 
  box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}

a {
  text-decoration: none;
  color: blue;
}
