.container {
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

}