.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-left: 1em;
  gap: 0.5em;
  height: 50px;
  color: black;
}

.link {
  text-decoration: none;
  color: black; 
  font-size: 70px;

  &:visited {
    color: black; 
  }

  &:hover {
    color: black; 
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }

  &_active {
    color: black; 
    text-decoration: underline;

    &:visited {
      color: black; 
    }

    &:hover {
      color: black; 
      transform: scale(1.1);
      transition: transform 0.3s ease;
    }
  }
}
